.nav-tabs-left {
	float: left;
	border-bottom: none;
}
.nav-tabs-right {
	text-align: right;
}
.nav-tabs-right > li {
	display: inline-block;
	float: none;
}

.bs-footer .container {
	border-top: solid 1px #eee;
	color:#666;
	margin-top: 40px;
	padding-top: 30px;
	padding-bottom: 20px;
}
.bs-footer li {
	display: inline-block;
	margin-left: 10px;
}
